---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <section class="relative max-w-3xl mx-auto py-6 bg-background">
    <div class="mb-12 text-center">
      <h1 class="text-2xl font-bold text-foreground tracking-tight">
        {frontmatter.title}
      </h1>
    </div>

    <!-- Content Slot -->
    <article
      class="prose prose-invert max-w-none leading-relaxed
         prose-headings:text-primary
         prose-a:text-accent
         prose-strong:text-accent
         prose-code:rounded
         prose-code:px-1.5
         prose-code:py-1
         prose-p:text-foreground"
    >
      <slot />
    </article>
  </section>
</Layout>
